
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center">
      Page for storing and sharing various notes
    </div>
    <br><br>

  </div>
</div>