<% if params.has_key?(:note_err) %>
    <%= params[:note_err] %>
    <% params[:note_err] = nil %>
<%end%>

<% unless @notes.nil? %>
    <table style="border: 1px solid">
      <tr>
        <td style="border: 1px solid">Title</td>
        <td style="border: 1px solid">Content</td>
      </tr>
      <% @notes.each do |n| %>
          <tr style="border: 1px solid">
            <td style="border: 1px solid">
              <%= n.title %>
            </td>
            <td style="border: 1px solid">
              <%= n.content %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>