<form action="/remove">
  Are you sure you want to remove selected note?<br/><br/>
  <%= raw "<input type='hidden' name='Id' value='#{@id}'/>" %>
  <input type="submit" name="confirm" value="Yes">
  <input type="submit" name="no_confirm" value="No">
</form>